<% if user_signed_in? %>
<h1>Friends</h1>
<table class="table table-striped table-hover">
<thead class="table-dark">
<tr>
<th> Name</th>

<th>Email</th>
<th>Phone</th>
<th>Twitter</th>

<th> </th>


</tr>
</thead>
<tbody>
<div id="friends">

  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
    <tr>
    <td><%=  friend.first_name %>
    <%= friend.last_name %>
    </td>
    
    <td><%= friend.email %></td>
    <td><%= friend.phone %></td>
    <td><%= friend.twitter %></td>
    <td>
    
    <p>
     <%= link_to "Show ", friend ,class:"btn btn-secondary"%>
    </p></td>
    
    </tr>
    <% end %>
    
  <% end %>
  
  
</div>
</tbody>

</table>

<h3> Import Friends</h3>
<%= form_tag import_friends_path,multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>

<%= link_to "New friend", new_friend_path %>
<% else %>
<h1>Hello,Welcome to Friends App !</h1>
<p>This is my first web application based on ruby on rails.</p>
<%end  %>
